ion-content ion-toolbar {
  --background: translucent;
}

.map {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin-bottom: -10px;

  &-menu {
    position: fixed;
    width: 100vw;
    height: auto;
    z-index: 1000;
    bottom: -17px;
    left: 0;
    margin: 0;
    border-radius: 30px 30px 0 0;

    &-active {
      bottom: 0;
    }

    &-img {
      width: 100%;
      height: 250px;
      margin-top: 10px;
      margin-bottom: 10px;
      border-radius: 30px;
      object-fit: cover;
    }

    &-slider {
      margin-left: calc(50% - 20px);
      border-radius: 25px;
    }
  }
}

.fab-trash-add {
  z-index: 1001;
  margin-bottom: 20px;
}

.btn {
  &-filter {
    position: fixed;
    width: 80px;
    height: 40px;
    bottom: 40px;
    left: calc(50% - 40px);
    z-index: 999;
  }
}