.modal-component {
  margin-bottom: 50px;

  &-thumbnail {
    width: 200px;
    height: 200px;
    margin-left: calc(50% - 100px);
  }
}

.btn {
  &-close {
    width: 25px;
    height: 25px;
    margin-top: 30px;
  }
  &-icon {
    margin-right: 10px;
  }
}